<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的加油卡</string>
			<key>image</key>
			<string>我的加油卡</string>
			<key>type</key>
			<string>gasCard</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的爱车</string>
			<key>image</key>
			<string>我的爱车</string>
			<key>type</key>
			<string>car</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>加油记录</string>
			<key>image</key>
			<string>加油记录</string>
			<key>type</key>
			<string>refuelHistory</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的优惠券</string>
			<key>image</key>
			<string>我的优惠券</string>
			<key>type</key>
			<string>coupon</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>购物车</string>
			<key>image</key>
			<string>购物车</string>
			<key>type</key>
			<string>web</string>
			<key>link</key>
			<string>https://www.baidu.com</string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的订单</string>
			<key>image</key>
			<string>我的订单</string>
			<key>type</key>
			<string>web</string>
			<key>link</key>
			<string>http://www.baidu.com</string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>收货地址管理</string>
			<key>image</key>
			<string>收货地址管理</string>
			<key>type</key>
			<string>address</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>修改密码</string>
			<key>image</key>
			<string>修改密码</string>
			<key>type</key>
			<string>changePWD</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>image</key>
			<string>关于我们</string>
			<key>type</key>
			<string>web</string>
			<key>link</key>
			<string>http://www.baidu.com</string>
			<key>showIndicatior</key>
			<integer>1</integer>
			<key>detailTitle</key>
			<string></string>
			<key>param</key>
			<dict/>
		</dict>
		<dict>
			<key>title</key>
			<string>在线客服</string>
			<key>image</key>
			<string>在线客服</string>
			<key>type</key>
			<string>invoke</string>
			<key>link</key>
			<string></string>
			<key>showIndicatior</key>
			<integer>0</integer>
			<key>detailTitle</key>
			<string>统一客服电话：95504</string>
			<key>param</key>
			<dict>
				<key>phone</key>
				<string>95504</string>
			</dict>
		</dict>
	</array>
</array>
</plist>
