<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>parttitle</key>
		<string>首页</string>
		<key>content</key>
		<array>
			<dict>
				<key>menutitle</key>
				<string>个人信息</string>
				<key>mormallogo</key>
				<string>icon-1.png</string>
				<key>selectlogo</key>
				<string>icon-1.png</string>
				<key>menutype</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>menutitle</key>
				<string>加油历史</string>
				<key>mormallogo</key>
				<string>icon-2.png</string>
				<key>selectlogo</key>
				<string>icon-2.png</string>
				<key>menutype</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>menutitle</key>
				<string>关于</string>
				<key>mormallogo</key>
				<string>icon-3.png</string>
				<key>selectlogo</key>
				<string>icon-3.png</string>
				<key>menutype</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>menutitle</key>
				<string>设置</string>
				<key>mormallogo</key>
				<string>icon-4.png</string>
				<key>selectlogo</key>
				<string>icon-4.png</string>
				<key>menutype</key>
				<integer>5</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>parttitle</key>
		<string>系统</string>
		<key>content</key>
		<array>
			<dict>
				<key>menutitle</key>
				<string>系统设置1</string>
				<key>mormallogo</key>
				<string>homePageNormal.png</string>
				<key>selectlogo</key>
				<string>homePageSelect.png</string>
				<key>menutype</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>menutitle</key>
				<string>系统设置2</string>
				<key>mormallogo</key>
				<string>homePageNormal.png</string>
				<key>selectlogo</key>
				<string>homePageSelect.png</string>
				<key>menutype</key>
				<integer>11</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
